<ul>
    <li><a href="{% url 'company-profile' %}">Company Profile</a></li>
    <li><a href="{% url 'testimonials' %}">Testimonials</a></li>
    <li><a href="{% url 'careers' %}">Careers</a></a></li>
    <li><a href="{% url 'press-releases' %}">Press Releases</a></li>
    <li><a href="{% url 'news' %}">News / Newsletter</a></li>
    <li><a href="{% url 'sustainability' %}">Sustainability</a></li>
    <li><a href="{% url 'awards' %}">Awards</a></li>
    <li><a href="{% url 'terms-conditions' %}">Terms &amp; Conditions</a></li>
</ul>
