{% extends "catalogue/layout/base.html" %}
{% load animal3_thumbnail %}
{% load catalogue_tags %}

{% block html_head %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'cycle/cycle.css' %}" />
<style type="text/css">
.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }
</style>
<script type="text/javascript" src="{% static 'cycle/cycle.min.js' %}"></script>
<script type="text/javascript" src="{% static 'common/jquery.autocomplete.js' %}"></script>
{% endblock html_head %}


{% block breadcrumbs %}
<h4>
    <a href="{% url 'catalogue-index' %}">Products</a> /
    <a href="{% url 'catalogue-category-detail' category.slug category.pk %}">{{ category.name }}</a> /
    product selector
</h4>
{% endblock breadcrumbs %}


{% block sub-navigation %}
<h3>{{ category.name }}</h3>
{% include 'catalogue/snippets/navigation.html' %}
{% endblock sub-navigation %}


{% block page %}

<article>
<div class="main-logo">
    <div>
        <h1>{% block title %}Balco Product Selector{% endblock title %}</h1>
    </div>
    {% if category.main_logo %}
    <img src="{{MEDIA_URL}}/{{category.main_logo}}">
    {% endif %}
</div>
<p>Please browse through our Product Selection Assistant to find answers to any of your questions relating to our product range. 
This information and the result obtained is indicative only. Not all requirements can be taken into consideration with the product search engine. Carefully check the found results and ensure the information contained on the detailed drawing of the profile meets your project specific requirements. If you would like assistance we also offer a project specific specifcation service.</p>

<br>
<form action="" method="post" class="form-box form-selector">
    {% csrf_token %}
    <div class="row row-3">
        <!-- <div class="form-group">
            <label>Product Code if known (e.g. 6FS-2M)</label>
            <input id="id_name" maxlength="255" name="name" type="text" value="{{name}}">
        </div> -->
        <div class="form-group">
            <label>Position / Application 
                <i class="icon-question">
                    <div class="explaination">
                        {% if position_applications_explaination %}
                            {{position_applications_explaination.0.content}}
                        {% else %}
                            Explaination copy
                        {% endif %}
                    </div>
                </i>
            </label>
            <div class="styled-selector">
                <!-- <i class="icon-dropdown"></i> -->
                <select class="project-filter" name="position_application">
                    <option {% if not position_application %}selected="selected"{% endif %} disabled value="" style='display:none;'>Please select</option>
                    {% for item in position_applications %}
                        <option value="{{item.id}}" {% if item.id|add:"0" == position_application|add:"0" %}selected="selected"{% endif %}>{{ item.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-group">
            <label>Interior / Exterior 
                <i class="icon-question">
                    <div class="explaination">
                        {% if interior_exteriors_explaination %}
                            {{interior_exteriors_explaination.0.content}}
                        {% else %}
                            Explaination copy
                        {% endif %}
                    </div>
                </i>
            </label>
            <div class="styled-selector">
                <!-- <i class="icon-dropdown"></i> -->
                <select class="project-filter" name="interior_exterior">
                    <option {% if not interior_exterior %}selected="selected"{% endif %} disabled value="" style='display:none;'>Please select</option>
                    {% for item in interior_exteriors %}
                        <option value="{{item.id}}" {% if item.id|add:"0" == interior_exterior|add:"0" %}selected="selected"{% endif %}>{{ item.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-group">
            <label>Cover Type 
                <i class="icon-question">
                    <div class="explaination">
                        {% if cover_types_explaination %}
                            {{cover_types_explaination.0.content}}
                        {% else %}
                            Explaination copy
                        {% endif %}
                    </div>
                </i>
            </label>
            <div class="styled-selector">
                <!-- <i class="icon-dropdown"></i> -->
                <select class="project-filter" name="cover_type">
                    <option {% if not cover_type %}selected="selected"{% endif %} disabled value="" style='display:none;'>Please select</option>
                    {% for item in cover_types %}
                        <option value="{{item.id}}" {% if item.id|add:"0" == cover_type|add:"0" %}selected="selected"{% endif %}>{{ item.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="row row-2">
        <div class="form-group">
            <label>Gap width (mm) 
                <i class="icon-question">
                    <div class="explaination">
                        {% if gap_width_explaination %}
                            {{gap_width_explaination.0.content}}
                        {% else %}
                            Explaination copy
                        {% endif %}
                    </div>
                </i>
            </label>
            <div class="styled-selector">
                <!-- <i class="icon-dropdown"></i> -->
                <select class="project-filter" name="gap_width_finder">
                    <option {% if not gap_width_finder %}selected="selected"{% endif %} disabled value="" style='display:none;'>Please select</option>
                    {% for item in gap_width_finders %}
                        <option value="{{item.id}}" {% if item.id|add:"0" == gap_width_finder|add:"0" %}selected="selected"{% endif %}>{{ item.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-group">
            <label>Max Joint Movement (%) 
                <i class="icon-question">
                    <div class="explaination">
                        {% if movement_explaination %}
                            {{movement_explaination.0.content}}
                        {% else %}
                            Explaination copy
                        {% endif %}
                    </div>
                </i>

            </label>
            <div class="styled-selector">
                <!-- <i class="icon-dropdown"></i> -->
                <select class="project-filter" name="movement_finder">
                    <option {% if not movement_finder %}selected="selected"{% endif %} disabled value="" style='display:none;'>Please select</option>
                    {% for item in movement_finders %}
                        <option value="{{item.id}}" {% if item.id|add:"0" == movement_finder|add:"0" %}selected="selected"{% endif %}>{{ item.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <button type="submit" class="btn-submit">submit</button>
    <div class="clear-form">
        <a href="#">Clear form</a>
    </div>
</form>

{% if is_searched %}
    <h2>Search Results</h2>
    {% if products %}
    <div class="object-list clearfix search-result">
        {% for product in products %}
            <div>
                <a href="{% url 'catalogue-product-gap-detail' slug=product.slug pk=product.pk %}">
                {% if product.cover_image %}
                    {% thumbnail product.cover_image 'product-thumbnail' alt=product.name %}
                {% endif %}
                <h4>{{ product.name }}</h4>

                <div class="excerpt">
                {% firstof product.excerpt|truncatehtml:120 product.description|truncatehtml:120 %}
                </div>

                </a>
            </div>
        {% endfor %}
    </div>
    {% else %}
        <p>There were no products which met your criteria. Please try another search or <a href="/contact/">contact</a> us for assistance.</p>
    {% endif %}
{% endif %}


</article>

<script type="text/javascript">

    $(document).ready(function() {
        $(".clear-form a").click(function(e) {
            e.preventDefault();
            $(".project-filter").each(function() {
                $(this).val("");
            });
            // $("#id_name").val("");
        });

        // $('#id_name').autocomplete({
        //     serviceUrl: "{% url 'product-codes' category.slug category.pk %}",
            
        // });
    });

</script>

{% endblock page %}
