
/* tweaks to the carousel that's on the category detail paige */

div.carousel {
    margin-top: 30px;
    margin-bottom: 50px;
}

div.carousel div.carousel-navigation {
    margin-right: 0;
}


/* Product Detail Page */

article.product-detail {
    width: 68%;
    float: left;
    margin-top: 15px;
}

article.product-detail h1 {
    font-size: 26px;
}

article.product-detail div.gallery {
    margin-bottom: 20px;
}

article.product-detail div.tab-content {
    border: 1px solid #eaeaea;
    padding: 0 30px 30px 30px;
}

.tab-content-mobile {
    display: none;
}

article.product-detail .tab-header {
    text-align: center;
    overflow: hidden;
    margin: 0 -30px;
}
article.product-detail .tab-header a {
    float: left;
    width: 50%;
    color: #ffffff;
    line-height: 32px;
    position: relative;
    width: calc(50% - 1px);
    border-bottom: 1px solid #eaeaea;
    text-decoration: underline;
    background: #0066a1;
}

article.product-detail .tab-header a.tab-first {
    border-right: 1px solid #eaeaea;
}

.tab-panel {
    display: none;
    padding-top: 10px;
}

.tab-panel.active {
    display: block;
}

article.product-detail .tab-header a.active {
    border-bottom: none;
    background: none;
    text-decoration: none;
    color: #333333;
}

article.product-detail div.description {
    /*float: left;
    width: 49%;
    margin-right: 8.5%;*/
}

article.product-detail div.description img {
    display: block;
    max-width: 100%;
    height: auto;
}

article.product-detail div.description ul {
    padding-left: 15px;
}

article.product-detail div.downloads {
    /*float: left;
    width: 42.5%;
    margin-right: 0;*/
}

article.product-detail div.downloads ul {
    padding-left: 0;
}

article.product-detail div.downloads {
    margin-right: 0;
}

article.product-detail div.downloads p {
    text-align: right;
    margin: 0;
}

/* Color ranges ul */

article.product-detail div.description ul.colour-ranges {
    list-style: none outside none;
    padding-left: 0;
}

article.product-detail ul.colour-ranges li {
    float: left;
}

article.product-detail ul.colour-ranges li a,
.colour-range-popup h2 a {
    display: block;
    background: #4d4e4f;
    padding: 5px;
    margin-right: 5px;
    color: #fff;
    text-align: center;
    font-weight: bold;
    line-height: 110%;
}

.colour-range-popup h2 a {
    float: left;
    margin-right: 10px;
    font-size: 12px;
}

article.product-detail ul.colour-ranges li a:hover,
article.product-detail ul.colour-ranges li a:focus,
.colour-range-popup h2 a:hover,
.colour-range-popup h2 a:focus {
    text-decoration: none;
    background: #d81e05;
}
