{% extends "base.html" %}

{% load cms_tags %}
{% load catalogue_tags %}
{% load blog_tags %}


{% block header %}
<hgroup>
    <h1><a href="/"><img src="{% static 'common/images/logo2.png' %}" /></a></h1>
    <h2>
        <p>
        <span>NZ</span>&nbsp; 0800 508 800 &nbsp;{{ 'info@zone.net.nz'|email }}&nbsp;&nbsp;&nbsp;<span class="pipe">|</span>&nbsp;&nbsp;<br /><span>AUS</span>&nbsp; 1800 103 338 &nbsp;{{ 'info@zoneranges.com'|email }}
        </p>
        <!-- <a href="#contact123" class="logo2 popup-open" data-target="contact123"/> -->
        <a href="http://www.123contactform.com/form-2045624/ZoneSpec" class="logo2" target="_blank" />
            <img src="{% static 'common/images/logo3.png' %}" />
            <span>click here for a project specific specification </span>
            <i class="flaticon-cursor"></i>
        </a>
    </h2>
    <br style="clear:left;" />
</hgroup>
{% endblock header %}


{% block navigation %}
<nav id="main-nav" class="no-print">
<ul class="clearfix">
    <li><a href="/">Home</a></li>
    <li id="product-nav">
        <a class="nav-expand" data-no-highlight href="{% url 'catalogue-index' %}">Products</a>
        <div>
        <a class="nav-close" href="#" data-no-highlight style="display: none;"><i class="flaticon-cancel"></i></a>
        {% include 'catalogue/snippets/catalogue-navigation.html' %}
        </div>
    </li>
    <li id="hidden-link">
        <a href="{% url 'catalogue-index' %}">Products</a>
    </li>
    <li>
        <a href="{% url 'project_index' %}">Project Gallery</a>
    </li>
    <li>
        <a href="/about/">About</a>
    </li>
    <li id="contact-nav">
        <a href="/contact/">Contact</a>
    </li>
    <li class="search">
    <form method="get" action="{% url 'catalogue-product-search' %}">
    <input type="text" name="q" placeholder="Search Products" />
    <i class="flaticon-magnifier-tool"></i>
    <button type="submit" value=""></button>
    </form>
    </li>
</ul>
</nav>
{% endblock navigation %}


{% block footer %}
<footer class="no-print">

<section class="brands">

<ul>

<li>
<a href="/catalogue/category/bobrick-stainless-steel-bathroom-accessories/1/">
<img src="{% static 'brand-logos/bobrick2.png' %}" alt="Bobrick Stainless Steel Bathroom Accessories" />
</a>
</li>

<li>
<a href="/catalogue/category/koala-baby-change-stations/2/">
<img src="{% static 'brand-logos/koala2.png' %}" alt="Koala Baby Change Stations" />
</a>
</li>



<li>
<a href="/catalogue/category/tepromark-wall-protection-systems/3/">
<img src="{% static 'brand-logos/tepromark2.png' %}" alt="Tepromark Wall Protection Systems" />
</a>
</li>


<li>
<a href="/catalogue/category/united-enertech/11/" >
<img src="{% static 'brand-logos/united-entertech.png' %}" alt="United Entertech" />
</a>
</li>




<li>
<a href="/catalogue/category/balco-expansion-seismic-joints/4/">
<img src="{% static 'brand-logos/balco2.png' %}" alt="Balco Expansion and Seismic Joints" />
</a>
</li>

<li>
<a href="/catalogue/category/zolatone-multicolour-coating/5/">
<img src="{% static 'brand-logos/zolatone2.png' %}" alt="Zolatone Multicolour Coatings" />
</a>
</li>

<li>
<a href="/catalogue/category/firezone-intumescent-coatings/7/">
<img src="{% static 'brand-logos/firezone2.png' %}" alt="Firezone Intumescent Coatings" />
</a>
</li>

<li>
<a href="/catalogue/category/phoenix-intumescent-coating-steel/6/">
<img src="{% static 'brand-logos/phoenix2.png' %}" alt="Phoenix Intumescent Coating for Steel" />
</a>
</li>

<li>
<a href="/catalogue/category/isolatek-spray-applied-fireproofing-material/10/">
<img src="{% static 'brand-logos/isolatek.png' %}" alt="Isolatec" />
</a>
</li>

</ul>

</section>

<section class="footer-links clearfix">
    <p>©2018   Aralier Group Ltd  -  trading as Zone Architectural Products</p>
</section>

</footer>

<div class="popup hidden" id="contact123">
<div class="popup-inner">
<a class="popup-close" href="#"><i class="flaticon-cancel"></i></a>

<div class="contact123-inner">
    <!-- www.123contactform.com script begins here -->
    <script type="text/javascript">var servicedomain="www.123contactform.com"; var frmRef=''; try { frmRef=window.top.location.href; } catch(err) {}; var cfJsHost = (("https:" == document.location.protocol) ? "https://" : "http://"); document.write(unescape("%3Cscript src='" + cfJsHost + servicedomain + "/includes/easyXDM.min.js' type='text/javascript'%3E%3C/script%3E")); frmRef=encodeURIComponent(frmRef.replace(/(<([^>]+)>)/ig,'')).replace('%26','[%ANDCHAR%]'); document.write(unescape("%3Cscript src='" + cfJsHost + servicedomain + "/jsform-2045624.js?ref="+frmRef+"' type='text/javascript'%3E%3C/script%3E")); </script>

    <!-- www.123contactform.com script ends here -->
</div>

</div>
</div>

<script type="text/javascript">
    $(document).ready(function(){
        $(".product-item").click(function(e) {
            window.location.href = $(this).attr("href");
        })
    });
</script>
{% endblock footer %}
