/****************
 * New Buttons! *
 ****************/

.button {
    display: inline-block;
    background-color: #0066a1;
    /*background-image: -moz-linear-gradient(top, #d85544, #d81e05);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#d85544), to(#d81e05));
    background-image: -webkit-linear-gradient(top, #d85544, #d81e05);
    background-image: linear-gradient(to bottom, #d85544, #d81e05);*/
    padding: 5px 10px;
    margin: 5px 0px;

    border-width: 1px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.3) rgba(0, 0, 0, 0.3) rgba(0, 0, 0, 0.4);
    border-radius: 5px;

    color: white;
    font-weight: 300;
    font-size: 16px;

    -moz-text-shadow: 1px 1px 3px #444;
    -webkit-text-shadow: 1px 1px 3px #444;
    text-shadow: 1px 1px 3px #444;

    transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    -webkit-transition: opacity 0.3s ease;
}


.button.small {
    font-size: 12px;
}


.button.large {
    font-size: 22px;
    padding: 10px 15px;
}


.button:hover,
.button:focus {
    opacity: 0.8;
    background-position: 0;
    text-decoration: none;
    color: white;
    background-color: #125682;
}


.button:active {
    background: #d86556;

    box-shadow: inset 0 2px 4px rgba(0,0,0,0.15), 0 1px 2px rgba(0,0,0,0.05);
    -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15), 0 1px 2px rgba(0,0,0,0.05);
    -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15), 0 1px 2px rgba(0,0,0,0.05);
}


/* Selected state for buttons */

.button.selected {
    background: #EEE;
    color: #444;

    -moz-text-shadow: 1px 1px 3px #888;
    -webkit-text-shadow: 1px 1px 3px #888;
    text-shadow: 1px 1px 3px #888;

    box-shadow: inset 0 2px 4px rgba(0,0,0,0.15), 0 1px 2px rgba(0,0,0,0.05);
    -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15), 0 1px 2px rgba(0,0,0,0.05);
    -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15), 0 1px 2px rgba(0,0,0,0.05);
}


.button.selected:hover,
.button.selected:focus {
    opacity: 0.8;
    color: #444;
}


.button.selected:active {
    color: white;

    -moz-text-shadow: 1px 1px 3px #444;
    -webkit-text-shadow: 1px 1px 3px #444;
    text-shadow: 1px 1px 3px #444;
}


/***************************************
 Place buttons within a button-group for
 button panels, either as a <ul> or <ol>
 or as <a> tags within a div.
 **************************************/

ul.button-group,
ol.button-group {
    list-style: none outside none;
    padding-left: 0;
    margin: 0;
}


.button-group li {
    display: inline-block;
}

.button-group .button {
    float: left;
}


/* Remove border-radius on all buttons */
.button-group > .button,
.button-group > li > .button {
    border-radius: 0;
}


/* Apply border-radius only the the left of the first button */
.button-group > .button:first-child,
.button-group > li:first-child > .button {
    margin-left: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}


.button-group > .button,
.button-group > li > .button {
    margin-left: -1px;
}


/* Apply border-radius only to the right of the last button */
.button-group > .button:last-child,
.button-group > li:last-child > .button {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
