
.no-print,
.button {
    display: none !important;
}

.print-block {
    display: block;
}

.print-inline {
    display: inline;
}

body {
    background: white;
    color: black;
    margin: 0px;
}

a:link,
a:visited,
a:hover,
a:active {
    color: black;
    text-decoration: none;
}

/* structure */

div#wrap {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

section#content {
    width: 90.2%;
}

/* header */

header#header {
    /*border-bottom: 1px solid #eee;*/
    background: none;
}

header#header hgroup {
    height: auto;
    margin: 0;
}


header#header hgroup h2 {
    margin-bottom: 10px;
    color: #000000;
}

header#header hgroup h2 span,
header#header hgroup h2 a {
    color: #000000 !important;
}

.print-logo {
    display: block;
    margin-bottom: 20px;
    padding: 0 4.85%;
}

.print-logo img {
    width: 250px;
    height: 85px;
    display: block;
}

header#header hgroup h2 a {
    display: none;
}

/* breadcrumbs... */

section#breadcrumbs h4 {
    float: none;
    margin-top: 20px;
}

/* object list */

ul.object-list li {
    margin-right: 1.85%;
}

ul.object-list li a img {
    width: 100%;
    height: auto;
}

/* product/project-detail pages */

article.product-detail div.gallery {
    margin-left: auto;
    margin-right: auto;
}

aside#related {
    display: none;
}

section#content article.product-detail,
section#content article.project-detail {
    width: auto;
    width: 100%;
    float: none;
}

section#content article.product-detail div.description,
section#content article.project-detail div.description {
    width: auto;
    float: none;
}
