
#carousel li {
    list-style: none;
}

#carousel .carousel-navigation {
    float: right;
    margin-right: 45px;
    margin-top: 20px;
}

#carousel .carousel-navigation a {
    display: block;
    float: left;
    width: 16px;
    height: 16px;
    border: 1px solid #e8e9e9;
    background: #fff;
    border-radius: 30px;
    margin: 0 7px 0 0;
}

#carousel .carousel-navigation a.selected  {
    text-decoration: none;
    background: #d31b17;
    border: 1px solid transparent;
}

#carousel .carousel-navigation a:hover {
    background: #d31b17;
    border: 1px solid transparent;
}

#carousel a {
    position: relative;
    display: block;
    overflow: hidden;
}

#carousel a img {
    display: block;
}

#carousel a p {
    position: absolute;
    display: block;
    background: rgba(0,0,0,0.4);
    padding: 15px 50px;
    bottom: 0;
    width: 100%;
    margin: 0px;
    font: 400 13px 'Source Sans Pro', 'Arial', 'Helvetica', sans-serif;
    color: #eeeeee;
}
