{% extends "catalogue/layout/base.html" %}
{% load animal3_thumbnail %}


{% block html_head %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'cycle/cycle.css' %}" />
<script type="text/javascript" src="{% static 'cycle/cycle.min.js' %}"></script>
{% endblock html_head %}

{% block title %}
    {% if category.page_name %}
        {{ category.page_name }}
    {% else %}
        {{ category.name }}
    {% endif %}
{% endblock title %}
{% block meta_description %}
<meta name="description" content="{{ category.meta_description }}" />
{% endblock meta_description %}


{% block breadcrumbs %}
<h4><a href="{% url 'catalogue-index' %}">Products</a> / {{category.name }}</h4>
{% endblock breadcrumbs %}


{% block sub-navigation %}
<h3>{{ category.name }}</h3>
{% include 'catalogue/snippets/navigation.html' %}
{% endblock sub-navigation %}


{% block page %}

<article>
<h1>{{category.name }}</h1>

{% if images %}

<div id="carousel">
<ol>
{% for image in images %}
    <li>{% thumbnail image.image 'category-carousel' %}</li>
{% endfor %}
</ol>
<div class="carousel-navigation"></div>
</div>

<script type="text/javascript">

(function () {

    function init() {
        $('#carousel').cycle({
            fx: 'fade',
            speed: 1000,
            timeout: 4000,
            pauseOnHover: true,
            random: false,
            // pager: '.carousel-navigation',
            pagerActiveClass: 'selected',
            pagerTemplate: '<a href="#"></a>',
            next: '.carousel-next',
            prev: '.carousel-prev',
            slides: '> ol > li'
        });
    }

    jQuery(init);

}());

</script>

{% endif %}

    <div class="wysiwyg">
        {{category.description | safe }}
    </div>
</article>

{% endblock page %}
